import unittest

from {{KTM_CREATE_MODULE_NAME}} import Process
import ktnode as kt


class ProcessSmokeTests(unittest.TestCase):
    def test_process_uses_public_sdk_node(self) -> None:
        self.assertEqual(Process.__mro__[1].__name__, "Node")

    def test_all_callback_todos_are_explicit(self) -> None:
        process = Process()
        with self.assertRaisesRegex(
            NotImplementedError,
            "TODO: implement setup",
            msg="TODO: implement setup",
        ):
            process.setup(None)
        with self.assertRaisesRegex(
            NotImplementedError,
            "TODO: implement step",
            msg="TODO: implement step",
        ):
            process.step(None)
        with self.assertRaisesRegex(
            NotImplementedError,
            "TODO: implement close",
            msg="TODO: implement close",
        ):
            process.close(None)
        update = kt.ConfigUpdate(0, 1, [], {}, {}, [], 0)
        with self.assertRaisesRegex(
            NotImplementedError,
            "TODO: implement config_update",
            msg="TODO: implement config_update",
        ):
            process.config_update(None, update)


if __name__ == "__main__":
    unittest.main()
